<!-- ==========================================
     PRODUCT CARD
========================================== -->

<article
  class="catalog-product-card"
  data-product-id="{{id}}"
  data-product-url="{{url}}"
  tabindex="0"
  role="link"
>
  <!-- IMAGEN -->

<div class="catalog-product-image">
  {{badges}}

  <img
    class="catalog-product-image__primary"
    src="{{primaryImage}}"
    alt="{{name}}"
    loading="lazy"
  />

  <img
    class="catalog-product-image__secondary"
    src="{{secondaryImage}}"
    alt=""
    loading="lazy"
    aria-hidden="true"
  />
</div>

  <!-- INFORMACIÓN -->

  <div class="catalog-product-info">
    <span class="catalog-product-brand"> {{brand}} </span>

    <h3 class="catalog-product-name">{{name}}</h3>

    <p class="catalog-product-variant">{{variant}}</p>

    <div class="catalog-product-footer">
      <strong class="catalog-product-price"> S/ {{price}} </strong>

      <button
        class="catalog-cart-button"
        type="button"
        aria-label="Agregar al carrito"
      >
        <span class="material-symbols-outlined"> shopping_bag </span>
      </button>
    </div>
  </div>
</article>
