<!-- =========================
     HEADER
========================= -->

<header class="header">
 <!-- TOP HEADER -->
<div class="header-top">
  <!-- LOGO -->
  <div class="logo">
    <a href="/">
      <img src="/src/assets/images/logo-header.jpg" alt="LC GROUP" />
    </a>
  </div>


  <!-- SEARCH -->
  <div class="search" id="header-search">
    <form class="search-form" id="header-search-form" role="search">
      <button
        class="search-button"
        type="submit"
        aria-label="Buscar productos"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>


      <input
        class="search-input"
        id="header-search-input"
        type="search"
        name="search"
        placeholder="Buscar productos..."
        autocomplete="off"
        aria-label="Buscar productos"
        aria-controls="header-search-results"
        aria-expanded="false"
      />
    </form>


    <div
      class="search-results"
      id="header-search-results"
      role="listbox"
      aria-label="Resultados de búsqueda"
      hidden
    ></div>
  </div>


  <!-- CARRITO -->
  <button
    class="header-cart-button"
    type="button"
    data-cart-open
    aria-label="Abrir carrito"
  >
    <span class="material-symbols-outlined">
      shopping_bag
    </span>


    <span
      class="header-cart-count"
      data-cart-count
      hidden
    >
      0
    </span>
  </button>
</div>





  <!-- NAVIGATION -->
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/">Inicio</a>
      </li>

      <li class="nav-item dropdown">
        <a href="/catalogo/" class="dropdown-link">
          Productos

          <i class="fa-solid fa-chevron-down"></i>
        </a>

        <ul
  class="dropdown-menu"
  id="header-categories-menu"
>
  <!-- JS -->
</ul>




      </li>

      <li class="nav-item">
        <a href="/nosotros/">Nosotros</a>
      </li>

      <li class="nav-item">
        <a href="/contacto/">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
